<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Choose Categories Fragments</title>
</head>
<body>

<div class="section" th:fragment="chooseCategories">

    <h6>Select period</h6>
    <div class="row">
        <div class="input-field col s6">
            <i class="material-icons prefix">date_range</i>
            <input id="from" type="date"
                   th:field="${chooseCategoriesForm.from}"
                   th:value="${chooseCategoriesForm.from}"
                   required/>
            <label for="from">From</label>
        </div>
        <div class="input-field col s6">
            <i class="material-icons prefix">date_range</i>
            <input id="until" type="date"
                   th:field="${chooseCategoriesForm.until}"
                   th:value="${chooseCategoriesForm.until}"
                   required/>
            <label for="until">Until</label>
        </div>
    </div>

    <h6>Select room categories</h6>
    <div class="row">
        <div th:each="category: ${categories}">
            <div class="input-field col s3" >

                <input th:id="${category.categoryId}"
                       th:field="${chooseCategoriesForm.categorySelection['__${category.categoryId}__']}"
                       th:value="${chooseCategoriesForm.categorySelection['__${category.categoryId}__']}"
                       class="roomCat"
                       min="0" th:max="${category.numberAvailable}"
                       type="number"/>

                <label th:for="${category.categoryId}" type="number" th:text="${category.categoryName}">
                    placeholder
                </label>
            </div>
        </div>
    </div>
</div>

<div th:fragment="chooseCategoriesHidden">
    <input id="from" type="hidden"
           th:field="${chooseCategoriesForm.from}"
           th:value="${chooseCategoriesForm.from}"
           required/>
    <input id="until" type="hidden"
           th:field="${chooseCategoriesForm.until}"
           th:value="${chooseCategoriesForm.until}"
           required/>
    <div th:each="entry: ${chooseCategoriesForm.categorySelection}">
        <input th:id="*{entry.key}"
               th:field="${chooseCategoriesForm.categorySelection['__${entry.key}__']}"
               th:value="${chooseCategoriesForm.categorySelection['__${entry.key}__']}"
               type="hidden"/>
    </div>
</div>

</body>
</html>