<html lang="en">
    <head th:fragment="head">
        <meta charset="UTF-8">

        <meta name="HandheldFriendly" content="true"/>
        <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

        <meta name="description"
              content="Create bookings and handle new walk-in guests in only a few clicks with this simple hotel management software.">

        <title>Hotel Management</title>

        <!-- ############ import css files ########################################################################################################################### -->

        <link rel="stylesheet" href="/css/materialize.min.css">
        <link rel="stylesheet" href="/css/global.css">

        <!-- ############ import js lib files ######################################################################################################################## -->

        <script src="/js/materialize.min.js"></script>
        <script src="/js/jquery-3.6.0.min.js"></script>
        <script src="/js/main.js"></script>

    </head>
</html>

