<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<!--suppress HtmlRequiredTitleElement -->
<head>
    <meta charset="UTF-8">
</head>
<body>

<div class="section" th:fragment="personalDetails"><div th:object="${personalDetailsForm}">

    <!-- guest/group data -->
    <div class="section">
        <h6>Guest or Group Data</h6>
        <div class="row">
            <div class="input-field col s12">
                <p>
                    <label for="private">
                        <input checked id="private" name="guestType" onchange="swapForm(this)"
                               type="radio" value="private"/>
                        <span>Private Guest</span>
                    </label>
                </p>
                <p>
                    <label for="companyOrTravelAgency">
                        <input id="companyOrTravelAgency" name="guestType" onchange="swapForm(this)"
                               type="radio" disabled value="companyOrTravelAgency"/>
                        <span>Company or Travel Agency</span>
                    </label>
                </p>
            </div>
        </div>

        <!-- form for private guest -->
        <div class="row" id="privateForm">
            <div class="input-field col s6">
                <i class="material-icons prefix">account_circle</i>
                <input id="privateGuestFirstName" type="text" th:field="*{guestFirstName}"/>
                <label for="privateGuestFirstName">First Name</label>
            </div>
            <div class="input-field col s6">
                <input id="privateGuestLastName" type="text" th:field="*{guestLastName}"/>
                <label for="privateGuestLastName">Last Name</label>
            </div>
        </div>

        <!-- form for company/travel agency -->
        <div class="row" id="companyOrTravelAgencyForm" style="display: none">
            <div class="input-field col s12">
                <i class="material-icons prefix">group</i>
                <input id="guestFirstName" type="text"/>
                <label for="guestFirstName">Company or Travel Agency Name</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s4">
                <i class="material-icons prefix">location_city</i>
                <input id="guestStreet" type="text" th:field="*{guestStreet}"/>
                <label for="guestStreet">Street</label>
            </div>
            <div class="input-field col s4">
                <input id="guestCity" type="text" th:field="*{guestCity}"/>
                <label for="guestCity">City/Town</label>
            </div>
            <div class="input-field col s4">
                <input id="guestZip" type="text" th:field="*{guestZip}"/>
                <label for="guestZip">Zip</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s4">
                <i class="material-icons prefix">location_city</i>
                <input id="guestCountry" type="text" th:field="*{guestCountry}"/>
                <label for="guestCountry">Country</label>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="input-field col s12">
            <p>
                <label for="RepresentativeCheck">
                    <input checked id="RepresentativeCheck" name="RepresentativeCheck"
                           type="checkbox" th:checked="false" value="Representative"/>
                    <span>Representative is same Person</span>
                </label>
            </p>
        </div>
    </div>

    <div class="divider"></div>

    <!-- representative data -->
    <div class="section">
        <h6>Representative Data</h6>
        <div class="row">
            <div class="input-field col s6">
                <i class="material-icons prefix">account_circle</i>
                <input id="representativeFirstName" type="text" th:field="*{representativeFirstName}"/>
                <label for="representativeFirstName">First Name</label>
            </div>
            <div class="input-field col s6">
                <input id="representativeLastName" type="text" th:field="*{representativeLastName}"/>
                <label for="representativeLastName">Last Name</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s4">
                <i class="material-icons prefix">location_city</i>
                <input id="representativeStreet" type="text" th:field="*{representativeStreet}"/>
                <label for="representativeStreet">Street</label>
            </div>
            <div class="input-field col s4">
                <input id="representativeCity" type="text" th:field="*{representativeCity}"/>
                <label for="representativeCity">City/Town</label>
            </div>
            <div class="input-field col s4">
                <input id="representativeZip" type="text" th:field="*{representativeZip}"/>
                <label for="representativeZip">Zip</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s4">
                <i class="material-icons prefix">location_city</i>
                <input id="representativeCountry" type="text" th:field="*{representativeCountry}"/>
                <label for="representativeCountry">Country</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s6">
                <i class="material-icons prefix">email</i>
                <input class="validate" id="representativeMail" type="email" th:field="*{representativeMail}"/>
                <label for="representativeMail">Email</label>
            </div>
            <div class="input-field col s6">
                <i class="material-icons prefix">phone</i>
                <input class="validate" id="representativePhone" type="tel" th:field="*{representativePhone}"/>
                <label for="representativePhone">Phone</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">payment</i>
                <select id="payment">
                    <option disabled selected value="">Select payment method</option>
                    <option value="cash">Cash</option>
                    <option value="creditCard">Credit Card</option>
                </select>
                <label for="payment">Payment</label>
            </div>
        </div>
    </div>

</div></div>

<div th:fragment="personalDetailsHidden">
        <input id="privateGuestFirstName" type="hidden"
               th:field="${personalDetailsForm.guestFirstName}"
               th:value="${personalDetailsForm.guestFirstName}"
               required/>
        <input id="privateGuestLastName" type="hidden"
               th:field="${personalDetailsForm.guestLastName}"
               th:value="${personalDetailsForm.guestLastName}"
               required/>
        <input id="guestStreet" type="hidden"
               th:field="${personalDetailsForm.guestStreet}"
               th:value="${personalDetailsForm.guestStreet}"
               required/>
        <input id="guestCity" type="hidden"
               th:field="${personalDetailsForm.guestCity}"
               th:value="${personalDetailsForm.guestCity}"
               required/>
        <input id="guestCountry" type="hidden"
               th:field="${personalDetailsForm.guestCountry}"
               th:value="${personalDetailsForm.guestCountry}"
               required/>
        <input id="guestZip" type="hidden"
               th:field="${personalDetailsForm.guestZip}"
               th:value="${personalDetailsForm.guestZip}"
               required/>

        <input id="representativeFirstName" type="hidden"
               th:field="${personalDetailsForm.representativeFirstName}"
               th:value="${personalDetailsForm.representativeFirstName}"
               required/>
        <input id="representativeLastName" type="hidden"
               th:field="${personalDetailsForm.representativeLastName}"
               th:value="${personalDetailsForm.representativeLastName}"
               required/>
        <input id="representativeStreet" type="hidden"
               th:field="${personalDetailsForm.representativeStreet}"
               th:value="${personalDetailsForm.representativeStreet}"
               required/>
        <input id="representativeCity" type="hidden"
               th:field="${personalDetailsForm.representativeCity}"
               th:value="${personalDetailsForm.representativeCity}"
               required/>
        <input id="representativeCountry" type="hidden"
               th:field="${personalDetailsForm.representativeCountry}"
               th:value="${personalDetailsForm.representativeCountry}"
               required/>
        <input id="representativeZip" type="hidden"
               th:field="${personalDetailsForm.representativeZip}"
               th:value="${personalDetailsForm.representativeZip}"
               required/>
        <input id="representativeMail" type="hidden"
               th:field="${personalDetailsForm.representativeMail}"
               th:value="${personalDetailsForm.representativeMail}"
               required/>
        <input id="representativePhone" type="hidden"
               th:field="${personalDetailsForm.representativePhone}"
               th:value="${personalDetailsForm.representativePhone}"
               required/>
</div>

</body>
</html>