<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Room Assignment Fragments</title>
</head>
<body>

<div class="section" th:fragment="roomAssignment(roomAssignmentForm)">

    <!--/*@thymesVar id="categories" type="java.util.List<fhv.teamd.hotel.application.dto.CategoryDTO>"*/-->
    <!--/*@thymesVar id="category" type="fhv.teamd.hotel.application.dto.CategoryDTO"*/-->
    <!--/*@thymesVar id="rooms" type="fhv.teamd.hotel.application.dto.RoomDTO"*/-->


    <div th:each="category: ${categories}" class="row valign-wrapper">
        <div class="col s2 no-margin" th:text="${category.title()}"></div>

        <div th:each="assignedRoom, stat: ${__${roomAssignmentForm}__.categoriesAndRooms.get(category.id())}"
             class="input-field col s1 no-margin">

            <label th:for="${category.id() + '_' + stat.index}" hidden></label>
            <input th:id="${category.id() + '_' + stat.index}" type="text"
                   th:field="${__${roomAssignmentForm}__.categoriesAndRooms['__${category.id()}__']['__${stat.index}__']}"
                   class="autocomplete"
                   autocomplete="off"
            >
        </div>
    </div>

    <div hidden>
        <div th:each="rooms: ${rooms}" class="row valign-wrapper rooms">
            <span class="id" th:text="${rooms.id()}"></span>
            <span class="cat-id" th:text="${rooms.categoryId()}"></span>
        </div>
    </div>
</div>

<div th:fragment="roomAssignmentHidden(roomAssignmentForm)">

    <!--/*@thymesVar id="entry" type="java.util.Map.Entry<String, List<String>>"*/-->

    <div th:each="entry: ${__${roomAssignmentForm}__.categoriesAndRooms.entrySet()}">
        <div th:each="assignedRoom, stat: ${entry.getValue()}">

            <label th:for="${entry.getKey() + '_' + stat.index}" hidden></label>
            <input th:id="${entry.getKey() + '_' + stat.index}" type="hidden"
                   th:field="${__${roomAssignmentForm}__.categoriesAndRooms['__${entry.getKey()}__']['__${stat.index}__']}"
            >
        </div>
    </div>
</div>

</body>
</html>