<!DOCTYPE html>

<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <title>Hotel Management</title>
    <meta name="page" content="CreateBooking">
    <placeholder th:replace="fragments/main.html :: head"></placeholder>
</head>
<body>
<header th:replace="fragments/main.html :: header"></header>

<div class="container">
    <h3>Room Booking - Summary</h3>

    <form action="/booking/summary" method="post">


        <div th:replace="fragments/chooseCategories :: chooseCategoriesHidden"></div>
        <div th:replace="fragments/personalDetails :: personalDetailsHidden"></div>


        <div th:object="${chooseCategoriesForm}">
            <!-- selected time period -->
            <h6>Time Period</h6><br>
            <div class="row">
                <div class="col s3">
                    <span style="font-weight: bold">From</span>
                </div>
                <div class="col s9">
                    <span th:text="*{from}"></span>
                </div>
            </div>
            <div class="row">
                <div class="col s3">
                    <span style="font-weight: bold">Until</span>
                </div>
                <div class="col s9">
                    <span th:text="*{until}"></span>
                </div>
            </div>

            <div class="divider"></div>

            <!-- selected categories -->
            <h6>Categories</h6><br>
            <div class="header"></div>
            <div class="row" th:each="category: ${categories}">
                <!-- todo: foreach category -->
                <div class="col s3">
                    <span style="font-weight: bold" th:text="${category.title()}"></span>
                </div>
                <div class="col s9">
                    <span th:text="*{categorySelection['__${category.id}__']}"></span>
                </div>
            </div>
        </div>

        <div class="divider"></div>


        <div th:object="${personalDetailsForm}">
            <!-- selected guest/group data -->
            <h6>Guest or Group Data</h6><br>
            <div class="row">
                <div class="col s3">
                    <span style="font-weight: bold">Name</span>
                </div>
                <div class="col s9">
                    <span th:text="*{guestFirstName + ' ' + guestLastName}"></span>
                </div>
            </div>
            <div class="row">
                <div class="col s3">
                    <span style="font-weight: bold">Address</span>
                </div>
                <div class="col s9">
                    <span th:text="*{
                    guestStreet + ',' +
                    guestZip + ', ' +
                    guestCity + ', ' +
                    guestCountry}">
                    </span>
                </div>
            </div>

            <div class="divider"></div>

            <!-- selected representative data -->
            <h6>Representative Data</h6><br>
            <div class="row">
                <div class="col s3">
                    <span style="font-weight: bold">Name</span>
                </div>
                <div class="col s9">
                    <span th:text="*{representativeFirstName + ' ' + representativeLastName}"></span>
                </div>
            </div>
            <div class="row">
                <div class="col s3">
                    <span style="font-weight: bold">Address</span>
                </div>
                <div class="col s9">
                    <span th:text="*{
                    representativeStreet + ', ' +
                    representativeZip+ ', ' +
                    representativeCity + ', ' +
                    representativeCountry}">
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col s3">
                    <span style="font-weight: bold">Email</span>
                </div>
                <div class="col s9">
                    <span th:text="*{representativeMail}"></span>
                </div>
            </div>
            <div class="row">
                <div class="col s3">
                    <span style="font-weight: bold">Phone</span>
                </div>
                <div class="col s9">
                    <span th:text="*{representativePhone}"></span>
                </div>
            </div>

            <!-- todo: payment -->
            <div class="row">
                <div class="col s3">
                    <span style="font-weight: bold">Payment</span>
                </div>
                <div class="col s9">
                    <span>Missing (todo)</span>
                </div>
            </div>
        </div>

        <!-- create booking -->
        <div class="row right-align">
            <button class="btn waves-effect waves-light blue accent-2"
                    type="submit" name="action" value="next">
                Create Booking
                <i class="material-icons right">done</i>
            </button>

            <button class="btn waves-effect waves-light"
                    type="submit" name="action" value="prev">
                <i class="material-icons left">navigate_before</i>
                Back
            </button>

            <a class="btn waves-effect waves-light red accent-2" href="/">
                Cancel
                <i class="material-icons right">cancel</i>
            </a>
        </div>
    </form>
</div>

<footer th:replace="fragments/main.html :: footer"></footer>
</body>
</html>