<!DOCTYPE html>

<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Hotel Management</title>
    <meta content="BookingOverview" name="page">
    <placeholder th:replace="fragments/main.html :: head"></placeholder>
    <script src="/js/filter.js"></script>
</head>
<body>
<header th:replace="fragments/main.html :: header"></header>

<div class="container">
    <h4>Room Booking - Overview</h4>

    <!-- select date (from, until) -->
    <div class="section" th:object="${form}">
        <h6>Select period</h6>
        <div class="row">
            <div class="input-field col s6">
                <i class="material-icons prefix">date_range</i>
                <input class="datepicker dpOverview" id="from" th:field="*{fromDate}" type="text"/>
                <label for="from">From</label>
            </div>
            <div class="input-field col s6">
                <i class="material-icons prefix">date_range</i>
                <input class="datepicker dpOverview" id="until" th:field="*{untilDate}" type="text"/>
                <label for="until">Until</label>
            </div>
        </div>
    </div>

    <!-- Booking Table -->

    <ul class="collapsible popout" id="overview">
        <li th:each="booking: ${bookings}" th:id="${booking.id + '-li'}">
            <div class="collapsible-header">
                <div class="float-left">
                    <div>
                        <span>Booking for</span>
                        <span th:text="${booking.guest.firstName + ' ' + booking.guest.lastName}"></span>
                    </div>

                    <div class="timeRange">
                        <span class="from" th:text="${booking.fromDate}"></span>
                        <span> until </span>
                        <span class="to" th:text="${booking.untilDate}"></span>
                    </div>
                </div>

                <!--Right Table Buttons -->
                <div class="float-right valign-wrapper">
                    <a th:href="@{/booking/performCheckIn(id=${booking.id})}">
                        <div class="waves-effect waves-light waves-circle waves-teal center-align tooltipped disableClickThrow"
                             data-position="top" data-tooltip="Check-In">
                            <i class="material-icons green-text no-margin center-context">login</i>
                        </div>
                    </a>
                    <!--                    <div class="waves-effect waves-light waves-circle waves-teal center-align tooltipped disableClickThrow"-->
                    <!--                         data-position="top" data-tooltip="Edit" onclick="alert('todo Edit');">-->
                    <!--                        <i class="material-icons blue-grey-text no-margin center-context">edit</i>-->
                    <!--                    </div>-->
                    <!--                    <div class="waves-effect waves-light waves-circle waves-teal center-align tooltipped disableClickThrow"-->
                    <!--                         data-position="top" data-tooltip="Delete" onclick="alert('todo Delete');">-->
                    <!--                        <i class="material-icons red-text no-margin center-context">delete_forever</i>-->
                    <!--                    </div>-->
                </div>
            </div>

            <!-- booking content -->
            <div class="collapsible-body">
                <div class="row collapsible-row" th:object="${booking}">
                    <!-- representative data -->
                    <div class="col collapsible-col s4">
                        <h6>Representative</h6>
                        <div th:object="${booking.representative}">
                            <p class="valign-wrapper">
                                <i class="material-icons">account_circle</i>&nbsp
                                <span th:text="*{firstName + ' ' + lastName}"></span>
                            </p>
                            <p class="valign-wrapper">
                                <i class="material-icons">location_city</i>&nbsp
                                <span th:text="*{address.street + ', ' + address.zip + ' ' + address.city + ', ' + address.country}"></span>
                            </p>
                            <p class="valign-wrapper">
                                <i class="material-icons">euro_symbol</i>&nbsp
                                <span th:text="*{paymentMethod}"></span>
                            </p>
                            <p class="valign-wrapper">
                                <i class="material-icons">email</i>&nbsp
                                <span th:text="*{email}"></span>
                            </p>
                            <p class="valign-wrapper">

                                <i class="material-icons">phone</i>&nbsp
                                <span th:text="*{phone}"></span>
                            </p>
                            <p class="valign-wrapper">
                                <i class="material-icons">payment</i>&nbsp
                                <span th:text="*{creditCardNumber}"></span>
                            </p>
                        </div>
                    </div>

                    <!-- guest data -->
                    <div class="col collapsible-col s4" th:object="${booking.guest}">
                        <h6>Guest</h6>
                        <p class="valign-wrapper">
                            <i class="material-icons">account_circle</i>&nbsp
                            <span th:text="*{firstName + ' ' + lastName}"></span>
                        </p>
                        <p class="valign-wrapper">
                            <i class="material-icons">location_city</i>&nbsp
                            <span th:text="*{address.street + ', ' + address.zip + ' ' + address.city + ', ' + address.country}"></span>
                        </p>
                    </div>

                    <!-- organization data -->
                    <div class="col collapsible-col s4">
                        <h6>Organization</h6>

                        <!-- todo -->
                    </div>
                </div>
            </div>
        </li>
    </ul>

</div>

<footer th:replace="fragments/main.html :: footer"></footer>
</body>
</html>