<!DOCTYPE html>

<!--suppress HtmlUnknownTarget -->
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <title>Hotel Management</title>
    <meta name="page" content="CreateBooking">
    <placeholder th:replace="fragments/main.html :: head"></placeholder>
</head>
<body>
<header th:replace="fragments/main.html :: header"></header>

<div class="container">
    <h3>Room Booking - Summary</h3>

    <form action="/booking/submit" method="post">

        <!-- hidden fields from categories form -->
        <input id="from" type="hidden"
               th:field="${chooseCategoriesForm.from}"
               th:value="${chooseCategoriesForm.from}"
               required/>
        <input id="until" type="hidden"
               th:field="${chooseCategoriesForm.until}"
               th:value="${chooseCategoriesForm.until}"
               required/>
        <div th:each="entry: ${chooseCategoriesForm.categorySelection}">
            <input th:id="*{entry.key}"
                   th:field="${chooseCategoriesForm.categorySelection['__${entry.key}__']}"
                   th:value="${chooseCategoriesForm.categorySelection['__${entry.key}__']}"
                   type="hidden"/>
        </div>

        <!-- hidden fields from personal details form -->
        <input id="privateGuestFirstName" type="hidden"
            th:field="${personalDetailsForm.guestFirstName}"
            th:value="${personalDetailsForm.guestFirstName}"
            required/>
        <input id="privateGuestLastName" type="hidden"
               th:field="${personalDetailsForm.guestLastName}"
               th:value="${personalDetailsForm.guestLastName}"
               required/>
        <input id="guestStreet" type="hidden"
               th:field="${personalDetailsForm.guestStreet}"
               th:value="${personalDetailsForm.guestStreet}"
               required/>
        <input id="guestCity" type="hidden"
               th:field="${personalDetailsForm.guestCity}"
               th:value="${personalDetailsForm.guestCity}"
               required/>
        <input id="guestCountry" type="hidden"
               th:field="${personalDetailsForm.guestCountry}"
               th:value="${personalDetailsForm.guestCountry}"
               required/>
        <input id="guestZip" type="hidden"
               th:field="${personalDetailsForm.guestZip}"
               th:value="${personalDetailsForm.guestZip}"
               required/>

        <input id="representativeFirstName" type="hidden"
               th:field="${personalDetailsForm.representativeFirstName}"
               th:value="${personalDetailsForm.representativeFirstName}"
               required/>
        <input id="representativeLastName" type="hidden"
               th:field="${personalDetailsForm.representativeLastName}"
               th:value="${personalDetailsForm.representativeLastName}"
               required/>
        <input id="representativeStreet" type="hidden"
               th:field="${personalDetailsForm.representativeStreet}"
               th:value="${personalDetailsForm.representativeStreet}"
               required/>
        <input id="representativeCity" type="hidden"
               th:field="${personalDetailsForm.representativeCity}"
               th:value="${personalDetailsForm.representativeCity}"
               required/>
        <input id="representativeCountry" type="hidden"
               th:field="${personalDetailsForm.representativeCountry}"
               th:value="${personalDetailsForm.representativeCountry}"
               required/>
        <input id="representativeZip" type="hidden"
               th:field="${personalDetailsForm.representativeZip}"
               th:value="${personalDetailsForm.representativeZip}"
               required/>
        <input id="representativeMail" type="hidden"
               th:field="${personalDetailsForm.representativeMail}"
               th:value="${personalDetailsForm.representativeMail}"
               required/>
        <input id="representativePhone" type="hidden"
               th:field="${personalDetailsForm.representativePhone}"
               th:value="${personalDetailsForm.representativePhone}"
               required/>

        <!-- selected time period -->
        <h6>Time Period</h6><br>
        <div class="row">
            <div class="col s3">
                <span style="font-weight: bold">From</span>
            </div>
            <div class="col s9">
                <span th:text="${chooseCategoriesForm.from}"></span>
            </div>
        </div>
        <div class="row">
            <div class="col s3">
                <span style="font-weight: bold">Until</span>
            </div>
            <div class="col s9">
                <span th:text="${chooseCategoriesForm.until}"></span>
            </div>
        </div>

        <div class="divider"></div>

        <!-- selected categories -->
        <h6>Categories</h6><br>
        <div class="header"></div>
        <div class="row" th:each="category: ${categories}">
            <!-- todo: foreach category -->
            <div class="col s3">
                <span style="font-weight: bold" th:text="${category.title}"></span>
            </div>
            <div class="col s9">
                <span th:text="${chooseCategoriesForm.categorySelection['__${category.id}__']}"></span>
            </div>
        </div>

        <div class="divider"></div>

        <!-- selected guest/group data -->
        <h6>Guest or Group Data</h6><br>
        <div class="row">
            <div class="col s3">
                <span style="font-weight: bold">Name</span>
            </div>
            <div class="col s9">
                <span th:text="*{personalDetailsForm.guestFirstName} + ' ' +
                    *{personalDetailsForm.guestLastName}"></span>
            </div>
        </div>
        <div class="row">
            <div class="col s3">
                <span style="font-weight: bold">Address</span>
            </div>
            <div class="col s9">
                <span th:text="*{personalDetailsForm.guestStreet} + ', ' +
                        *{personalDetailsForm.guestZip} + ' ' + *{personalDetailsForm.guestCity} + ', ' +
                        *{personalDetailsForm.guestCountry}"></span>
            </div>
        </div>

        <div class="divider"></div>

        <!-- selected representative data -->
        <h6>Representative Data</h6><br>
        <div class="row">
            <div class="col s3">
                <span style="font-weight: bold">Name</span>
            </div>
            <div class="col s9">
                <span th:text="*{personalDetailsForm.representativeFirstName} + ' ' +
                    *{personalDetailsForm.representativeLastName}"></span>
            </div>
        </div>
        <div class="row">
            <div class="col s3">
                <span style="font-weight: bold">Address</span>
            </div>
            <div class="col s9">
                <span th:text="*{personalDetailsForm.representativeStreet} + ', ' +
                    *{personalDetailsForm.representativeZip} + ' ' + *{personalDetailsForm.representativeCity} + ', ' +
                    *{personalDetailsForm.representativeCountry}"></span>
            </div>
        </div>
        <div class="row">
            <div class="col s3">
                <span style="font-weight: bold">Email</span>
            </div>
            <div class="col s9">
                <span th:text="*{personalDetailsForm.representativeMail}"></span>
            </div>
        </div>
        <div class="row">
            <div class="col s3">
                <span style="font-weight: bold">Phone</span>
            </div>
            <div class="col s9">
                <span th:text="*{personalDetailsForm.representativePhone}"></span>
            </div>
        </div>

        <!-- todo: payment -->
        <div class="row">
            <div class="col s3">
                <span style="font-weight: bold">Payment</span>
            </div>
            <div class="col s9">
                <span>Missing (todo)</span>
            </div>
        </div>

        <!-- create booking -->
        <div class="row right-align">
            <button class="btn waves-effect waves-light blue accent-2" name="submit" type="submit">Create Booking
                <i class="material-icons right">done</i>
            </button>

            <!-- todo: back button to previous page -->
            <a class="btn waves-effect waves-light" href="chooseCategories">Back
                <i class="material-icons left">navigate_before</i>
            </a>
            <a class="btn waves-effect waves-light red accent-2" href="/">Cancel
                <i class="material-icons right">cancel</i>
            </a>
        </div>
    </form>
</div>

<footer th:replace="fragments/main.html :: footer"></footer>
</body>
</html>