<!DOCTYPE html>

<!--suppress HtmlUnknownTarget -->
<html lang="en">

<head>
    <meta charset="UTF-8">

    <meta content="true" name="HandheldFriendly"/>
    <meta content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport"/>

    <meta content="Create bookings and handle new walk-in guests in only a few clicks with this simple hotel management software."
          name="description">

    <title>Hotel Management</title>

    <!-- ############ import css files ########################################################################################################################### -->

    <link rel="stylesheet" href="/css/materialize.min.css">
    <link rel="stylesheet" href="/css/global.css">

    <!-- ############ import js lib files ######################################################################################################################## -->

    <script src="/js/materialize.min.js"></script>
    <script src="/js/jquery-3.6.0.min.js"></script>
</head>

<body>
<div class="container">
    <h3>Room Booking - Personal Details</h3>

    <div class="row">
        <form action="/booking/submitPersonalDetails">
            <!-- guest/group data -->
            <div class="section">
                <h6>Guest or Group Data</h6>
                <div class="row">
                    <div class="input-field col s12">
                        <p>
                            <label for="private">
                                <input checked id="private" name="guestType" onchange="swapForm(this)"
                                       type="radio" value="private"/>
                                <span>Private Guest</span>
                            </label>
                        </p>
                        <p>
                            <label for="companyOrTravelAgency">
                                <input id="companyOrTravelAgency" name="guestType" onchange="swapForm(this)"
                                       type="radio" value="companyOrTravelAgency"/>
                                <span>Company or Travel Agency</span>
                            </label>
                        </p>
                    </div>
                </div>

                <!-- form for private guest -->
                <div class="row" id="privateForm">
                    <div class="input-field col s6">
                        <i class="material-icons prefix">account_circle</i>
                        <input id="guestFirstName" type="text">
                        <label for="guestFirstName">First Name</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="guestLastName" type="text">
                        <label for="guestLastName">Last Name</label>
                    </div>
                </div>

                <!-- form for company/travel agency -->
                <div class="row" id="companyOrTravelAgencyForm" style="display: none">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">group</i>
                        <input id="guestFirstName" type="text">
                        <label for="guestFirstName">Company or Travel Agency Name</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s4">
                        <i class="material-icons prefix">location_city</i>
                        <input id="guestAddress" type="text"/>
                        <label for="guestAddress">Address</label>
                    </div>
                    <div class="input-field col s4">
                        <input id="guestCity" type="text"/>
                        <label for="guestCity">City/Town</label>
                    </div>
                    <div class="input-field col s4">
                        <input id="guestCountry" type="text"/>
                        <label for="guestCountry">Country</label>
                    </div>
                </div>
            </div>

            <div class="divider"></div>

            <!-- booker data -->
            <div class="section">
                <h6>Booker Data</h6>
                <div class="row">
                    <div class="input-field col s6">
                        <i class="material-icons prefix">account_circle</i>
                        <input id="bookerFirstName" type="text">
                        <label for="bookerFirstName">First Name</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="bookerLastName" type="text">
                        <label for="bookerLastName">Last Name</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s4">
                        <i class="material-icons prefix">location_city</i>
                        <input id="bookerAddress" type="text"/>
                        <label for="bookerAddress">Address</label>
                    </div>
                    <div class="input-field col s4">
                        <input id="bookerCity" type="text"/>
                        <label for="bookerCity">City/Town</label>
                    </div>
                    <div class="input-field col s4">
                        <input id="bookerCountry" type="text"/>
                        <label for="bookerCountry">Country</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">phone</i>
                        <input class="validate" id="bookerPhone" type="tel">
                        <label for="bookerPhone">Telephone</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">payment</i>
                        <select id="payment">
                            <option disabled selected value="">Select payment method</option>
                            <option value="cash">Cash</option>
                            <option value="creditCard">Credit Card</option>
                        </select>
                        <label for="payment">Payment</label>
                    </div>
                </div>
            </div>

            <!-- back/cancel/submit buttons -->
            <div class="row right-align">
                <button class="btn waves-effect waves-light blue accent-2" name="submit" type="submit">Submit
                    <i class="material-icons right">done</i>
                </button>
                <a class="btn waves-effect waves-light" href="chooseCategories">Back
                    <i class="material-icons left">navigate_before</i>
                </a>
                <a class="btn waves-effect waves-light red accent-2" href="/">Cancel
                    <i class="material-icons right">cancel</i>
                </a>
            </div>
        </form>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("select").material_select();
    });

    function swapForm(x) {
        let radioName = document.getElementsByName(x.name);
        for (let i = 0; i < radioName.length; i++) {
            document.getElementById(radioName[i].id.concat("Form")).style.display = "none";
        }
        document.getElementById(x.id.concat("Form")).style.display = "initial";
    }
</script>

</body>

</html>