<!DOCTYPE html>

<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <title>Hotel Management</title>
    <meta name="page" content="Home">
    <placeholder th:replace="fragments/main.html :: head"></placeholder>
    <placeholder th:replace="fragments/scriptHead.html :: validate()"></placeholder>
</head>

<body>
<header th:replace="fragments/main.html :: header"></header>

<div class="container">
    <h3>Invoice</h3>

    <!--    <div th:replace="fragments/errorMessage"></div>-->

    <div class="row">
        <form action="/invoice/billView" method="post" class="col s12">
            <!--/*@thymesVar id="invoiceForm" type="fhv.teamd.hotel.view.forms.InvoiceForm"*/-->

            <div th:object="${invoiceForm}">
                <input th:field="*{stayId}" type="hidden">
            </div>

            <!-- back/cancel/submit buttons -->
            <div class="row right-align">
                <button class="btn waves-effect waves-light blue accent-2"
                        type="submit" name="action" value="next">Send Invoice
                    <i class="material-icons right">done</i>
                </button>
                <a class="btn waves-effect waves-light red accent-2" href="/">Cancel
                    <i class="material-icons right">cancel</i>
                </a>
            </div>
        </form>
    </div>


</div>
<footer th:replace="fragments/main.html :: footer"></footer>
</body>

</html>