<!DOCTYPE html>

<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <title>Hotel Management</title>
    <meta name="page" content="Home">
    <placeholder th:replace="fragments/main.html :: head"></placeholder>
    <placeholder th:replace="fragments/scriptHead.html :: validate()"></placeholder>
</head>

<body>
<header th:replace="fragments/main.html :: header"></header>

<div class="container">
    <h4>Invoice List</h4>

    <!--    <div th:replace="fragments/errorMessage"></div>-->

    <div class="row">
        <form action="/invoice/billList" method="post" class="col s12">
            <!--/*@thymesVar id="invoiceForm" type="fhv.teamd.hotel.view.forms.InvoiceForm"*/-->

            <div id="billList" class="section" th:object="${bill}">
                <div th:each="entry, iter: *{entries}" class="row myHighlight noMargin">
                    <div class="col s1">
                        <label th:for="'billEntry_' + ${iter.index}">
                            <input type="checkbox"
                                   name="billEntryChecks"
                                   th:id="'billEntry_' + ${iter.index}"
                                   th:checked="${invoiceForm.checkboxStates['__${iter.index}__']}"
                                   th:value="${iter.index}"
                            />
                            <span></span>
                        </label>
                    </div>

                    <div class="col s6" th:text="${entry.description}"></div>

                    <div class="col s2">OPEN</div>

                    <div class="col s1 center-align" th:text="${entry.amount}"></div>
                    <div class="col s2 right-align" th:text="${entry.subTotal}"></div>
                </div>

                <br>
                <div class="divider"></div>
                <br>

                <th:block th:each="entry, iter: *{finalBills}">
                    <div th:each="entryEn, iterEntry: ${entry.entries}" class="row noMargin">
                        <div class="col s1">
                            <label th:for="'finalBill_' + ${iter.index} + '_entry_' + ${iterEntry.index}">
                                <input disabled
                                       type="checkbox"
                                       name="finalBillEntryChecks"
                                       th:id="'finalBill_' + ${iter.index} + '_entry_' + ${iterEntry.index}"
                                       th:checked="true"
                                       th:value="${iterEntry.index}"
                                />
                                <span></span>
                            </label>
                        </div>

                        <div class="col s6" th:text="${entryEn.description}"></div>

                        <div class="col s2">PAID/PENDING</div>

                        <div class="col s1 center-align" th:text="${entryEn.amount}"></div>
                        <div class="col s2 right-align" th:text="${entryEn.subTotal}"></div>
                    </div>
                </th:block>
            </div>

            <div th:object="${invoiceForm}">
                <!-- hidden fields -->
                <input th:field="*{stayId}" type="hidden">
                <input th:field="*{organizationId}" type="hidden">
                <input th:field="*{discountPercent}" type="hidden">

                <input th:field="*{billAssignmentForm.firstName}" type="hidden"/>
                <input th:field="*{billAssignmentForm.lastName}" type="hidden"/>

                <input th:field="*{billAssignmentForm.street}" type="hidden"/>
                <input th:field="*{billAssignmentForm.zip}" type="hidden"/>
                <input th:field="*{billAssignmentForm.city}" type="hidden"/>
                <input th:field="*{billAssignmentForm.country}" type="hidden"/>

                <input th:field="*{billAssignmentForm.mail}" type="hidden"/>
                <input th:field="*{billAssignmentForm.phone}" type="hidden"/>

                <input th:field="*{billAssignmentForm.paymentMethod}" type="hidden"/>
                <input th:field="*{billAssignmentForm.creditCardNumber}" type="hidden"/>
            </div>

            <!-- back/cancel/submit buttons -->
            <div class="section row right-align">
                <button disabled id="createInvoice" class="btn waves-effect waves-light blue accent-2"
                        type="submit" name="action" value="next">
                    Create Invoice
                    <i class="material-icons right">navigate_next</i>
                </button>

                <a disabled id="checkOutSummary" class="btn waves-effect waves-light blue accent-2"
                   th:href="@{/checkOut/summary(stayId=${invoiceForm.stayId})}">
                    Check-Out Summary
                    <i class="material-icons right">logout</i>
                </a>

                <a class="btn waves-effect waves-light red accent-2" href="/">Cancel
                    <i class="material-icons right">cancel</i>
                </a>
            </div>
        </form>
    </div>

</div>
<footer th:replace="fragments/main.html :: footer"></footer>
</body>

</html>