<!DOCTYPE html>

<!--suppress HtmlUnknownTarget -->
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <title>Home</title>
    <meta name="page" content="Home">
    <placeholder th:replace="fragments/main.html :: head"></placeholder>
</head>

<body>

<header th:insert="fragments/main.html :: header"></header>

<a href="/booking/experimental">
    <button class="btn">Create Booking (Test Version)</button>
</a>

<footer th:insert="fragments/main.html :: footer"></footer>

</body>
</html>