<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <meta name="HandheldFriendly" content="true"/>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

    <meta name="description" content="Search and find famous teams and tournaments">

    <title>Hotel Management</title>

    <!-- ############ import css files ########################################################################################################################### -->

    <link rel="stylesheet" href="/css/materialize.min.css">
    <link rel="stylesheet" href="/css/global.css">

    <!-- ############ import js lib files ######################################################################################################################## -->

    <script src="/js/materialize.min.js"></script>
</head>

<body>

<a href="/booking/chooseCategories">
    <button>create booking</button>
</a>

</body>
</html>