<!DOCTYPE html>

<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <title>Home</title>
    <meta content="Home" name="page">
    <placeholder th:replace="fragments/main.html :: head"></placeholder>
</head>

<body>

<header th:replace="fragments/main.html :: header"></header>

<div class="container">

    <h4>Hotel Overview</h4>

    <div class="section row">
        <div class="col s12">
            <ul class="collapsible popout">
                <li th:each="stay: ${stays}">
                    <div class="collapsible-header">

                        <div class="float-left">

                            <h6 th:text="${stay.guest().firstName() + ' ' + stay.guest().lastName()}"></h6>

                            <div>
                                <span th:text="${{stay.checkIn}}"></span>
                                <span> until </span>
                                <span th:text="${{stay.expectedCheckOut}}"></span>

                            </div>
                        </div>

                        <div class="float-right valign-wrapper">
                            <a th:href="@{/invoice/billList(stayId=${stay.id})}">
                                <div class="waves-effect waves-light waves-circle waves-teal center-align tooltipped disableClickThrow"
                                     data-position="top" data-tooltip="Create-Invoice">
                                    <i class="material-icons blue-grey-text no-margin center-context">receipt</i>
                                </div>
                            </a>
                            <a th:href="@{/checkOut/summary(stayId=${stay.id})}">
                                <div class="waves-effect waves-light waves-circle waves-teal center-align tooltipped disableClickThrow"
                                     data-position="top" data-tooltip="Check-Out">
                                    <i class="material-icons blue-text no-margin center-context">logout</i>
                                </div>
                            </a>
                        </div>

                    </div>

                    <div class="collapsible-body s12">
                        <div class="row">
                            <div class="card col" style="margin-right: 10px" th:each="room: ${stay.rooms()}">
                                <p class="center-align" th:text="${room.id()}"></p>
                            </div>
                        </div>

                        <div th:object="${stay}">

                            <h6>Guest</h6>
                            <div th:object="${stay.guest}">
                                <p class="valign-wrapper">
                                    <i class="material-icons">account_circle</i>&nbsp
                                    <span th:text="*{firstName + ' ' + lastName}"></span>
                                </p>
                                <p class="valign-wrapper">
                                    <i class="material-icons">location_city</i>&nbsp
                                    <span th:text="*{address}"></span>
                                </p>
                            </div>

                            <h6>Representative</h6>
                            <div th:object="${stay.representative}">
                                <div class="row">
                                    <div class="col">
                                        <p class="valign-wrapper">
                                            <i class="material-icons">account_circle</i>&nbsp
                                            <span th:text="*{firstName + ' ' + lastName}"></span>
                                        </p>
                                        <p class="valign-wrapper">
                                            <i class="material-icons">location_city</i>&nbsp
                                            <span th:text="*{address}"></span>
                                        </p>
                                        <p class="valign-wrapper">
                                            <i class="material-icons">euro_symbol</i>&nbsp
                                            <span th:text="*{paymentMethod}"></span>
                                        </p>
                                    </div>
                                    <div class="col">
                                        <p class="valign-wrapper">
                                            <i class="material-icons">email</i>&nbsp
                                            <span th:text="*{email}"></span>
                                        </p>
                                        <p class="valign-wrapper">

                                            <i class="material-icons">phone</i>&nbsp
                                            <span th:text="*{phone}"></span>
                                        </p>
                                        <p class="valign-wrapper">
                                            <i class="material-icons">payment</i>&nbsp
                                            <span th:text="*{creditCardNumber}"></span>
                                        </p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

</div>


<footer th:replace="fragments/main.html :: footer"></footer>

</body>
</html>