<!DOCTYPE html>

<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <title>Hotel Management</title>
    <meta name="page" content="Home">
    <placeholder th:replace="fragments/main.html :: head"></placeholder>
    <placeholder th:replace="fragments/scriptHead.html :: validate()"></placeholder>
</head>

<body>
<header th:replace="fragments/main.html :: header"></header>

<div class="container">
    <h3>Invoice Summary</h3>

    <!--    <div th:replace="fragments/errorMessage"></div>-->

    <div class="row">
        <div class="col s6">

            <div th:object="${bill}">
                <div th:each="entry: *{entries}" class="row">
                    <div class="col s6" th:text="${entry.description}"></div>
                    <div class="col s3 center-align" th:text="${entry.amount}"></div>
                    <div class="col s3 right-align" th:text="${entry.subTotal}"></div>
                </div>
                <hr>
                <div class="row">
                    <div class="col s9"></div>
                    <div class="col s3 right-align" th:text="*{total}"></div>
                </div>
            </div>

            <!-- back/cancel/submit buttons -->
            <div class="row right-align">
                <a class="btn waves-effect waves-light blue accent-2" href="/">Home
                    <i class="material-icons right">home</i>
                </a>
            </div>
        </div>
    </div>


</div>
<footer th:replace="fragments/main.html :: footer"></footer>
</body>

</html>