<!DOCTYPE html>

<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <title>Hotel Management</title>
    <meta name="page" content="Checkin">
    <placeholder th:replace="fragments/main.html :: head"></placeholder>
    <placeholder th:replace="fragments/scriptHead.html :: validate()"></placeholder>
    <script src="/js/forms.js"></script>
</head>

<body>
<header th:replace="fragments/main.html :: header"></header>

<div class="container">
    <h3>Check-In - Personal Details</h3>

    <div th:replace="fragments/errorMessage"></div>

    <div class="row">
        <form action="/checkIn/personalDetails" method="post" class="col s12">
            <!--/*@thymesVar id="checkInForm" type="fhv.teamd.hotel.view.forms.CheckInForm"*/-->

            <input id="bookingId" type="hidden" th:field="${checkInForm.bookingId}">
            <div th:replace="fragments/chooseCategories :: chooseCategoriesHidden(chooseCategoriesForm = 'checkInForm.chooseCategoriesForm')"></div>
            <div th:replace="fragments/personalDetails :: personalDetails(personalDetailsForm = 'checkInForm.personalDetailsForm')"></div>
            <div th:replace="fragments/roomAssignment :: roomAssignmentHidden"></div>

            <!-- back/cancel/submit buttons -->
            <div class="row right-align">
                <button class="btn waves-effect waves-light blue accent-2 cancel"
                        type="submit" name="action" value="prev">Back
                    <i class="material-icons left">navigate_before</i>
                </button>
                <button class="btn waves-effect waves-light blue accent-2"
                        type="submit" name="action" value="next">Next
                    <i class="material-icons right">navigate_next</i>
                </button>
                <a class="btn waves-effect waves-light red accent-2" href="/">Cancel
                    <i class="material-icons right">cancel</i>
                </a>
            </div>
        </form>
    </div>
</div>

<footer th:replace="fragments/main.html :: footer"></footer>
</body>

</html>