<!DOCTYPE html>

<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <title>Hotel Management</title>
    <meta name="page" content="Home">
    <placeholder th:replace="fragments/main.html :: head"></placeholder>
    <placeholder th:replace="fragments/scriptHead.html :: validate()"></placeholder>
</head>

<body>
<header th:replace="fragments/main.html :: header"></header>

<div class="container">
    <h4>Invoice Summary</h4>

    <!--    <div th:replace="fragments/errorMessage"></div>-->

    <div class="row">
        <div class="col s6">
            <form action="/checkOut/perform" method="post">

                <input type="hidden" name="stayId" th:value="${stayId}">

                <div class="section" th:object="${bill}">
                    <th:block th:each="entry, iter: *{finalBills}">
                        <div th:each="entryEn, iterEntry: ${entry.entries}" class="row noMargin">
                            <div class="col s6" th:text="${entryEn.description}"></div>

                            <div class="col s2">PAID/PENDING</div>

                            <div class="col s2 center-align" th:text="${entryEn.amount}"></div>
                            <div class="col s2 right-align" th:text="${entryEn.subTotal}"></div>
                        </div>
                    </th:block>
                </div>

                <!-- back/cancel/submit buttons -->
                <div class="row right-align">
                    <button class="btn waves-effect waves-light blue accent-2"
                            type="submit" name="action" value="next">Check Out
                        <i class="material-icons right">done</i>
                    </button>
                    <a class="btn waves-effect waves-light red accent-2" href="/">Cancel
                        <i class="material-icons right">cancel</i>
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>
<footer th:replace="fragments/main.html :: footer"></footer>
</body>

</html>